{% extends "layout.html" %}
{% block content %}
<body>
  <div class="box has-text-centered"> 
  <h1 class="title"> Jeremy Grosenstein | j51b5.com </h1> </div>
		<div class="box" id="content"> {{ content|safe }} </div>
    <div class="box has-text-centered">
		<button class="button is-large" hx-get="/home" hx-target="#content" hx-swap="innerHTML" hx-push-url="true">Home</button>
    <button class="button is-large" hx-get="/about" hx-target="#content" hx-swap="innerHTML" hx-push-url="true">About</button>
    </div>
</body>
{% endblock %}
